*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background: #5185d2;
    color:  #fff; 
}
 /* XzqM8IYmqs0LPfaXHngypZsbm-3db7yueOqDw6a4eEI */
h1{
     text-align: center ;
     margin: 100px auto 20px;
     font-weight: 600;
}
.title{
    width: 100%;
    text-align: center;
    margin-top: 1%;
    font-family: 'poppins', sans-serif;
}
.form{
    display: flex;
    align-items: center;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333333;
    height: 3rem;
    border-radius: 3rem;
   /* width: 90%;
    max-width: 600px;
    margin: auto;
    height: 60px;
    background: #c0c4f3;
    display: flex;
    align-items: center;
    border-radius: 10px;*/
}
.search{
    background: none;
    outline: none;
    float: left;
    padding: 0;
    border: none;
    border-radius: 3rem;
    font-size: 14px;
    color: #c0c4f3;
    transition: 1s;
    width: 0px;
}
.border{
    height: 1px;
    width: 16%;
    background-color: #c0c4f3;
    margin-left: 42%;
    top: 5px;
}
.button{
    border: none;
    background: #c0c4f3;
    font-size: 18px;
    float: right;
    color: #4cbb17;
    cursor: pointer;
    border-radius: 5rem;
    width: 3rem;
    height: 3rem;
}
#search-result{
    margin-top: 7%;
}
.form:hover > .search {
    width: 300px;
    padding-left: 20px;
}
 .form:hover> .button{
    background-color: #c0c4f3;
    border: #c0c4f3;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 6px;
 }
 .search:focus{
    width: 300px;
    padding-left: 20px;
 }
/*form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 30px;
}
form button{
    padding: 0 40px;
    height: 100%;
    background: #a14039;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}*/
::placeholder{
    color: #ffffff9f;
    font-size: 15px;
}
#show{
    background: #f58e10ce;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display:block;
}

